.wave {
  width: fit-content;
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: calc(168px * 4);
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wave canvas {
  width: 100% !important;
  display: block;
  user-select: none;
  pointer-events: none;
  /* filter: blur(4px); */
  translate: 12.5% -25%;
}
