.cover {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin: 4.8rem auto;
  max-width: 128rem;
  overflow: hidden;
  padding: 0 2.4rem;
  position: relative;
}

.cover h1 {
  margin: 0 0 4.8rem;
}

.cover h1 svg {
  width: clamp(28.8rem, 60vi, 43.2rem);
}

.cover .description p {
  margin: 0;
  max-width: 36ch;
  text-wrap: balance;
}

.cover .button {
  margin-top: 24px;
}

.cover .preview video {
  aspect-ratio: 16/9;
  border-radius: 1.6rem;
  box-shadow: 0 0 0 1px light-dark(var(--neutral-200), var(--neutral-800));
  display: block;
  margin-block: 3.2rem;
  opacity: 0;
  transition: opacity 0.4s;
  transition-delay: 0.4s;
  width: clamp(0%, 100%, 64rem);

  &.loaded {
    opacity: 1;
  }
}

@media (min-width: 960px) {
  .cover {
    flex-direction: row;
    justify-content: space-between;
  }

  .cover .preview video {
    width: clamp(28.8rem, 40vi, 48rem);
  }
}
