.cover {
  position: relative;
  padding: 0 24px;
  max-width: 1280px;
  margin: 48px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.cover h1 {
  margin: 0 0 48px;
}

.cover h1 svg {
  width: clamp(288px, 60vi, 432px);
}

.cover .description p {
  text-wrap: balance;
  max-width: 36ch;
  margin: 0;
}

.cover .button {
  margin-top: 24px;
}

.cover .preview video {
  display: block;
  width: clamp(0%, 100%, 640px);
  aspect-ratio: 16/9;
  margin-block: 32px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

@media (min-width: 960px) {
  .cover {
    flex-direction: row;
    justify-content: space-between;
  }

  .cover .preview video {
    width: clamp(288px, 40vi, 480px);
  }
}
