@font-face {
  font-family: "AtkinsonHyperlegibleNextVF";
  src: url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2 supports variations"),
    url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
}

body {
  font-family: "AtkinsonHyperlegibleNextVF", sans-serif;
  font-size: 18px;
  line-height: 1.333333;
  font-weight: 400;
  background: light-dark(white, black);
  color: light-dark(black, white);
}

.button {
  text-decoration: none;
  color: inherit;
  user-select: none;
  display: inline-flex;
  border-radius: 999px;
}

.button.secondary {
  padding: 6px 12px;
  background: light-dark(black, white);
  color: light-dark(white, black);
}

.button.primary {
  padding: 12px 16px;
  background: light-dark(#f54528, #f54528);
  color: light-dark(white, white);
  font-weight: 500;
}

/* .button.cta {
	padding: 16px 24px;
	background: #f54528;
	color: white;
	font-weight: 500;
	font-size: 24px;
} */
