@font-face {
  font-display: swap;
  font-family: "AtkinsonHyperlegibleNextVF";
  font-style: normal;
  font-weight: 100 900;

  src: url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2 supports variations"),
    url("../../fonts/AtkinsonHyperlegibleNextVF-Variable.woff2") format("woff2-variations");
}

:root {
  color-scheme: light dark;
}

html {
  font-size: 62.5%;
}

body {
  background: light-dark(white, black);
  color: light-dark(black, white);
  font-family: "AtkinsonHyperlegibleNextVF", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.333333;
}

.button {
  border-radius: 999px;
  color: inherit;
  display: inline-flex;
  text-decoration: none;
  user-select: none;
}

.button.secondary {
  background: light-dark(black, white);
  color: light-dark(white, black);
  padding: 0.6rem 1.2rem;
}

.button.primary {
  background: light-dark(#f54528, #f54528);
  color: light-dark(white, white);
  font-weight: 500;
  padding: 1.2rem 1.6rem;
}
