header {
  margin: 0 auto;
  max-width: 128rem;
  padding: 1.2rem 2.4rem;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav .links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header nav a {
  color: inherit;
  padding: 0.6rem;
  text-decoration: none;
}

header nav a:has(.logo) {
  padding: 0;
}

header nav a .logo {
  padding: 0.4rem 0.8rem 0.4rem 0;
}

header nav a:hover .logo {
  translate: 0 0;
}

@media (min-width: 640px) {
  header nav a {
    padding: 0.6rem 1.2rem;
  }
}
