header {
  padding: 12px 24px;
  max-width: 1280px;
  margin: 0 auto;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: inherit;
  padding: 6px 6px;
}

header nav a:has(.logo) {
  padding: 0;
}

header nav a .logo {
  padding: 4px 8px 4px 0;
  /* translate: 0 calc(-100% / 6); */
  /* transition: 0.2s ease-out; */
}

header nav a:hover .logo {
  translate: 0 0;
}
