:root {
  color-scheme: light dark;
}

html {
  font-size: calc((8 / 16) * 100%);
}

@media (min-width: 340px) {
  html {
    font-size: calc((9 / 16) * 100%);
  }
}

@media (min-width: 375px) {
  html {
    font-size: calc((10 / 16) * 100%);
  }
}
